---
layout: default
---
<style>
* {
  box-sizing: border-box;
}

.div-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
  max-width: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Create four equal columns that sits next to each other */
.div-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 20px 20px;
}

.div-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .div-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .div-column {
    -ms-flex: 90%;
    flex: 90%;
    max-width: 90%;
  }
}
</style>

<div class="div-row">
	<div class="div-column">
		<h2>Did you know that you can:</h3>
		<ul>
			<li>Borrow books without having to queue?</li>
			<li>Look up your child’s upcoming immunisation?</li>
			<li>Locate the nearest car park and its parking rates?</li>
		</ul>
	</div>
	<div class="div-column">
		<a href="/services/oneservice"><img src="/images/logos/logo-oneservice.png" alt="oneservice" style"width:70%"></a>
		<img src="/images/logos/logo-myresponder.png" alt="my responder" style"width:70%">
		<img src="/images/logos/logo-health-hub.png" alt="health hub" style"width:70%">
	</div>
	<div class="div-column">
		<img src="/images/logos/logo-mobile-hdb.png" alt="mobile@hdb" style"width:70%">
		<img src="/images/logos/logo-mycpf.png" alt="my cpf" style"width:70%">
	</div>
	<div class="div-column">
		<img src="/images/logos/logo-parkingsg.png" alt="parking sg" style"width:70%">
		<img src="/images/logos/logo-nlb-mobile.png" alt="nlb mobile" style"width:70%">
	</div>
</div>