---
layout: default
---
<style>
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
  max-width: 80%;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 15%; /* IE10 */
  flex: 25%;
  max-width: 15%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 70%;
    flex: 70%;
    max-width: 70%;
  }
}
</style>

<div class="row">
	<div class="column">
		<h2>Did you know that you can:</h3>
		<li>
			<ul>Borrow books without having to queue?</ul>
			<ul>Look up your child’s upcoming immunisation?</ul>
			<ul>Locate the nearest car park and its parking rates?</ul>
		</li>
	</div>
	<div class="column">
		<img src="/images/logos/logo-oneservice.png" style"width:70%">
		<img src="/images/logos/logo-myresponder.png" style"width:70%">
		<img src="/images/logos/logo-health-hub.png" style"width:70%">
	</div>
	<div class="column">
		<img src="/images/logos/logo-mobile-hdb.png" style"width:70%">
		<img src="/images/logos/logo-mycpf.png" style"width:70%">
	</div>
	<div class="column">
		<img src="/images/logos/logo-parkingsg.png" style"width:70%">
		<img src="/images/logos/logo-nlb-mobile.png" style"width:70%">
	</div>
</div>