---
layout: default
---
<style>
    .bg-hero {
        background: url('{{site.baseurl}}/images/hero-banner.png') no-repeat top center;
        -webkit-background-size: cover;
        background-size: cover;
    }

	.bg-hero-top {
        background: url('{{site.baseurl}}/images/banner-top.jpg') no-repeat top left;
        -webkit-background-size: cover;
        background-size: cover;
    }
	
	.bg-hero-middle {
        background: url('{{site.baseurl}}/images/banner-middle.jpg') no-repeat top left;
        -webkit-background-size: cover;
        background-size: cover;
    }
	
    .bg-hero-bottom {
        background: url('{{site.baseurl}}/images/banner-bottom.jpg') no-repeat top left;
        -webkit-background-size: cover;
        background-size: cover;
    }
</style>

<section class="bp-section bg-hero-top">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h2 class="padding--bottom" style="font-weight: bold">Half-fish and half-lion, the iconic Merlion resides at the waterfront Merlion Park.</h2>
                <a href="/merlion">
                    <div class="bp-button is-white is-outlined is-uppercase search-button" target="_blank">
                        Find out more
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bp-section bg-hero-middle">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h2 class="padding--bottom" style="font-weight: bold">This majestic place of worship is a repository of Buddhist wisdom and relics, and is home to an artefact of religious reverence.</h2>
                <a href="https://go.gov.sg/join-ogp">
                    <div class="bp-button is-white is-outlined is-uppercase search-button" target="_blank">
                        Find out more
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bp-section bg-hero-bottom">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h2 class="padding--bottom" style="font-weight: bold">These stunning man-made trees of up to 16 storeys tall can be found all around the Gardens.</h2>
                <a href="/super-trees">
                    <div class="bp-button is-white is-outlined is-uppercase search-button" target="_blank">
                        Find out more
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
